* {
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

html, body { 
	height: 100%; 
}

body { 
	margin: 0; 
	font: 16px/1.3 sans-serif; 
}

.slideshow {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.slideshow .slider {
	height: 70%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.slideshow .slider > * {
	font-size: 1rem;
	display: inline-flex;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.slideshow .prevNext {
	position: absolute;
	z-index: 999;
	top: 70%;
	width: 100%;
	height: 0;
}

.slideshow .prevNext > article+article {
	visibility: hidden; /* Hide all but first P/N container */
}

.slideshow .prevNext a {
	background: rgba(102, 102, 102, 0.5);
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.slideshow .prevNext a:hover {
	opacity: 1;
}
.slideshow .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.slideshow .bullets {
	position: absolute;
	z-index: 2;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}

.slideshow .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.slideshow .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.slideshow .bullets > a:hover {
	background: rgba(255, 255, 255, 0.1) !important;
}

.slideshow > s:target ~ .bullets > * {      background: rgba(255, 255, 255, 0.5);}

#s1:target ~ .bullets > *:nth-child(1) {background: rgba(255, 255, 255, 1);}
#s2:target ~ .bullets > *:nth-child(2) {background: rgba(255, 255, 255, 1);}
#s3:target ~ .bullets > *:nth-child(3) {background: rgba(255, 255, 255, 1);}
#s4:target ~ .bullets > *:nth-child(4) {background: rgba(255, 255, 255, 1);}

.slideshow >s:target ~ .prevNext > * { visibility: hidden;}

#s1:target ~ .prevNext > *:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext > *:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext > *:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext > *:nth-child(4) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

.slideshow{
	color: #fff;	
	text-align: center;
}

.slideshow .slider > figcaption {
	position: absolute;
	margin-top: 20vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
	color: #FFF
}

.slideshow .slider .img-responsive {
	width: 100%;
	height: auto;
	object-fit: cover;

}

.slideshow a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.icon {
	color: #FFD700;
	vertical-align: middle;
}