boto3==1.9.19
botocore==1.12.19
dj-database-url==0.4.2
Django==2.1.2
django-froala-editor==2.7.3
django-rednoise==1.0.5
django-storages==1.7.1
django-toolbelt==0.0.1
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
Pillow==5.0.0
psycopg2==2.7.3.2
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
static3==0.7.0
urllib3==1.23
whitenoise==4.1
