{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% block css %}{% endblock %}
	<meta charset="UTF-8">
	<title>Gerador de Landing Pages || iClinic</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
	<link rel="stylesheet" href='{% static "css/reset.css" %}'>
	<link rel="stylesheet" href='{% static "css/estilos.css" %}'>
	<link rel="stylesheet" href='{% static "css/font-icon.css" %}'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css">

	<!-- Icons -->
	<link rel="SHORTCUT ICON" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon.ico"/><link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://d1ydp7gtfj5fb9.cloudfront.net/static/img/favicon/favicon-32x32.png" sizes="32x32">
	<meta name="theme-color" content="#2b5797">
</head>
<body>
	{% block content %}
	{% endblock %}

	{% block js %}{% endblock %}

	<script
		src='{% static "js/jquery-3.2.1.min.js" %}'
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
    <script  src='{% static "js/funcoes.js" %}'></script>
</body>
</html>