{% extends "base.html" %}
{% load static %}

{% block css %}
	
{% endblock %}

{% block title %}
	Página Principal || iClinic
{% endblock %}

{% block content %}
	{% for informacoes in info %}
	<header>
		<div class="logo"></div>
		<div class="nav"></div>
	</header>

	<section class="slider">
		
		
		<article class="arrows">
			<a class="previous" href="#"><i data-icon="d" class="icon"></i></a>
			<a class="next" href="#"><i data-icon="R" class="icon"></i></a>
		</article>
		<article class="slides">
			{% for i in informacoes.imagens.all %}
				{% if forloop.counter == 1 %}
					<figure class="slide active">
						<img src='media/{{ i }}'>
					</figure>
				{% else %}
					<figure class="slide">
						<img src='media/{{ i }}'>
					</figure>
				{% endif %}	
			{% endfor %}
		</article>
		<span class="bullets"></span>
	</section>
	<section class="resto">
		
		
		<hgroup>
			<h1 class="main-heading">{{ informacoes.titulo_principal }}</h1>
			<span class="fancy"><h2 class="main-subtitle">{{ informacoes.subtitulo }}</h2></span>
		</hgroup>
		<p>{{ informacoes.texto }}</p>
		<hgroup>
			<h1 class="main-heading">Se inscreva para saber mais</h1>
		</hgroup>
		<form method='POST'>
			{% csrf_token %}
			<div class="form">
				<input 
					type="text" 
					name="{{ form.name.name }}"
					maxlength="100" 
					value="{{ value }}" 
					pattern="[a-zA-Z_]+"
				/>
				<label>Nome</label>
				<em>Como quer ser chamado?</em>
			</div>

			<div class="form">
				<input
					type="email"
					name="{{ form.email.name }}"
					maxlength="100"
					value="{{ value }}"
					pattern="[a-zA-Z0-9][a-zA-Z0-9\._-]+@([a-zA-Z0-9\._-]+\.)[a-zA-Z-0-9]{2,3}"
					required
				/>
				<label>Email</label>
				<em>O mais utilizado por você</em>
			</div>
			<button type="submit" class="button"><span><i data-icon="&#xe006;" class="icon submit"></i></span></button>
		</form>
		
	</section>
	{% endfor %}
{% endblock %}